//Almoni
@font-face{
  font-family:'almoni';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-300.eot');
  src: url('fonts/almoni/almoni-dl-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-300.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-400.eot');
  src: url('fonts/almoni/almoni-dl-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-400.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-700.eot');
  src: url('fonts/almoni/almoni-dl-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-700.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-700.woff') format('woff');
}
@font-face{
  font-family:'almoni';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/almoni/almoni-dl-aaa-900.eot');
  src: url('fonts/almoni/almoni-dl-aaa-900.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni/almoni-dl-aaa-900.ttf') format('truetype'),
  url('fonts/almoni/almoni-dl-aaa-900.woff') format('woff');
}
//Almoni-tzar
@font-face{
  font-family:'almoni-tzar';
  font-weight:100; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-100.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-100.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-100.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:200; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-200.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-200.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-200.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-300.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-300.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-300.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-400.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-400.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-400.woff') format('woff');
}
@font-face{
  font-family:'almoni-tzar';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot');
  src: url('fonts/almoni-tzar/almoni-tzar-aaa-700.eot?#iefix') format('embedded-opentype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-700.ttf') format('truetype'),
  url('fonts/almoni-tzar/almoni-tzar-aaa-700.woff') format('woff');
}
//Assistant
@font-face{
  font-family:'Assistant';
  font-weight:300; /*(light)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Light.ttf') format('truetype');

}
@font-face{
  font-family:'Assistant';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'Assistant';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'Assistant';
  font-weight:900; /*(black)*/
  font-style: normal;
  src: url('fonts/Assistant/Assistant-SemiBold.ttf') format('truetype');
}
//Grenze
@font-face{
  font-family:'Grenze';
  font-weight: 100; /*(thin)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-Thin.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight: 200; /*(extra-light)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-ExtraLight.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight: 300; /*(light)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-Light.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight:400; /*(regular)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-Regular.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight: 500; /*(medium)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-Medium.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight:400; /*(semi-bold)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-SemiBold.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight:700; /*(bold)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-Bold.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight: 800; /*(extra-bold)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-ExtraBold.ttf') format('truetype');
}
@font-face{
  font-family:'Grenze';
  font-weight: 900; /*(black)*/
  font-style: normal;
  src: url('fonts/Grenze/Grenze-Black.ttf') format('truetype');
}
