.footer-form {
  background-color: $green-main;
  padding: size(46) 0 size(30) 0;
  div.wpcf7 input[type="submit"] {
	@include d-center;
	background-color: $brown-main;
	margin-left: -20px;
	transition: background-color .5s;
	&:hover {
	  background-color: $green-main;
	  transition: background-color .5s;
	}
  }
  div.wpcf7 input[type="email"] {
	margin-right: -20px;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
  }
}
.wpcf7-form {
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: size(145);
}
div.wpcf7 input[type="submit"] {
  @include d-center;
  background-color: $blue-main;
  padding: 0 size(60);
  color: #ffffff;
  text-align: center;
  transition: background-color .5s;
  &:hover {
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.acceptance-col {
  margin-top: -1rem;
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
  }
  input[type="checkbox"] {
	width: 27px;
	min-width: 27px;
	box-shadow: unset;
	margin-right: 7px;
	border-radius: 5px;
	margin-bottom: 0;
  }
  span {
	@include mid-title;
	font-weight: 300;
	color: $blue-main;
  }
}
.form-title, .form-subtitle {
  @include mid-title;
  color: $blue-main;
}
.form-title {
  font-weight: 500;
}
.form-subtitle {
  font-weight: 400;
}
.search-form {
  @include d-center;
  input[type="search"] {
	height: 33px;
	box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	background-color: #ffffff;
	&::placeholder {
	  color: rgba(0, 42, 70, 0.36);
	}
  }
  input[type="submit"] {
	width: size(36);
	height: size(33);
	min-width: size(36);
	margin-left: -1.6rem;
	background-image: url("../iconsall/search.png");
	background-color: transparent;
	background-position: center;
	background-size: size(22);
	background-repeat: no-repeat;
  }
}
