.header-top {
  background-color: $green-main;
  padding: 5px 0;
}
.header-bottom {
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.12);
  background-color: #fdf9e0;
  padding: size(27) 0;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  @include d-center;
	  padding: 0 10px;
	  border-right: 1px solid $blue-main;
	  a{
		@include d-center;
		color: $blue-main;
		font-size: size(28);
		font-weight: 400;
		font-style: normal;
		letter-spacing: normal;
		line-height: size(20);
		text-align: center;
		transition: color .5s;
		&:hover {
		  color: $brown-main;
		  transition: color .5s;
		}
	  }
	  &:last-child {
		border-right: unset;
	  }
	}
  }
}
footer {
  position: relative;
}
.footer-main {
  padding: size(70) 0 size(40) 0;
  background-image: url("../img/footer-back.png");
}
//Footer
.footer-main {
  position: relative;
  background-color: #e5e5e7;
  padding: size(55) 0 size(30) 0;
}
.foo-menu {
  padding-top: 1rem;
}
.menu-border-top {
  padding-top: size(18);
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 1rem;
}
footer {
  margin-top: 2rem;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	margin-bottom: 5px;
	a {
	  color: #ffffff;
	  font-size: size(28);
	  line-height: size(28);
	  font-weight: 300;
	  padding-right: 15px;
	}
	&:after {
	  position: absolute;
	  content: '';
	  top: 10px;
	  right: 0;
	  width: 3px;
	  height: 5px;
	  display: inline-block;
	  border: 3px solid transparent;
	  border-right: 3px solid #ffffff;
	}
	a:hover {
	  color: $blue-main;
	  cursor: pointer;
	  transition: color .5s;
	}
  }
  .contact-list li a {
	display: flex;
	align-items: flex-start;
	padding-right: 0;
	&:after {
	  display: none;
	}
  }
}
.foo-title {
  color: #FFFFFF;
  font-size: size(24);
  line-height: size(28);
  font-weight: 500;
  margin-bottom: 19px;
}
.contact-menu-foo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.to-top-text {
  color: $blue-main;
  margin-top: 8px;
  font-size: size(24);
  line-height: size(26);
  text-align: center;
}

.registers-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#go-top {
  position: absolute;
  top: -3.4rem;
  right: size(34);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;
  img {
	width: size(52);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.payment-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 0;
  img {
	max-height: 30px;
	margin: 0 6px;
  }
}
.triggers-col, .social-menu-foo {
  .social-link {
	margin-bottom: 13px;
	display: flex;
	img {
	  width: size(52);
	}
  }
}
.triggers-col {
  position: fixed;
  right: 0;
  top: 35%;
  z-index: 99999;
}
.social-menu-foo {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  .social-link {
	margin: 0 7px 7px 7px;
	&:first-child {
	  margin-left: 0 !important;
	}
	&:last-child {
	  margin-right: 0 !important;
	}
  }
}
.header-offer, .login-link-header, .register-link {
  font-size: size(28);
  line-height: size(30);
  color: $blue-main;
  font-weight: 500;
}
.register-link, .login-link-header {
  transition: color .5s;
  margin: 0 3px;
  &:hover {
	color: $brown-main;
	transition: color .5s;
  }
}
.header-btn {
  position: relative;
  img {
	width: size(39);
  }
}
