.faq {
  padding: size(70) 0 size(100) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 13px;
	background: transparent;
  }
  .answer-body {
	padding: 25px 0;
  }
}
.question-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: size(43);
  border-radius: 0;
  border: none;
  border-bottom: 3px solid $green-main;
  background-color: transparent;
  padding: 27px 30px 27px 0;
}
.faq-body-title {
  font-size: size(24);
  line-height: size(26);
  color: $text-main;
  font-weight: 300;
  text-align: left;
  transition: color .5s;
}
.question-header {
  border-radius: 0;
  background-color: transparent;
}
.faq-arrow {
  position: absolute;
  right: 0;
  width: 28px;
  transition: transform .5s;
  &.arrow-top {
	transform: rotate(180deg);
	transition: transform .5s;
  }
}

//Slider
.arrows-slider {
  .slick-prev, .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(28);
	height: size(27);
	z-index: 33;
	top: unset;
	bottom: -2rem;
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
  .slick-next {
	background-image: url("../iconsall/arrow-right.png");
  }
  .slick-prev {
	background-image: url("../iconsall/arrow-left.png");
  }
}
.product-slider {
  padding-top: 1rem;
  .slick-prev, .slick-next {
	top: 1rem;
	bottom: unset;
  }
  .slick-next {
	right: calc(50% - 1.5rem);
  }
  .slick-prev {
	left: calc(50% - 1.5rem);
  }
}
.base-slider-block {
  position: relative;
  padding: 60px 0 80px 0;
  .slick-prev {
	right: unset;
	left: 0;
  }
  .slick-next {
	right: unset;
	left: 2rem;
  }
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
  }
}
//Card post
.post-col {
  margin-bottom: 33px;
}
.post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.post-item-image {
  @include d-center;
  @include back-img;
  margin-bottom: 16px;
  border-radius: 17px;
  &:after {
	content: '';
	display: block;
	padding-bottom: 86%;
  }
}
.post-link, .more-link {
  @include d-center;
  background-color: $brown-main;
  color: #ffffff;
  font-size: size(19);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(29);
  text-align: center;
  border-radius: 17px;
  padding: size(10) size(28);
  transition: background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.more-link {
  padding: size(10) size(60);
  margin-top: 20px;
  height: size(37);
  cursor: pointer;
  background-color: $green-main;
  &:hover {
	background-color: $blue-main;
  }
  &.hide {
	display: none;
  }
}
.post-item-title {
  @include small-text;
  color: $blue-main;
  transition: color .5s;
  &:hover {
	color: $brown-main;
	transition: color .5s;
  }
}
.post-item-text {
  @include small-text;
  font-weight: 300;
  color: $text-main;
  margin-bottom: 10px;
}
.post-item-content {
  flex-grow: 1;
}
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .post-link {
	height: size(36);
	align-self: flex-start;
  }
}
