.add-to-wishlist-before_image .yith-wcwl-add-to-wishlist i {
  font-size: 0.7rem !important;
}
.product-small-card{
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  border: 1px solid #002a46;
  background-color: #ffffff;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
	overflow-x: hidden;
	padding: 11px;
	img {
	  width: 100%;
	  height: 143px;
	  border-radius: 20px;
	}
  }
  .in-wishlist{
	position: absolute;
	right: 25px;
	top: 18px;
	svg{
	  width: 29px;
	  height: 26px;
	  fill: $blue-main;
	}
  }
  a{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: #979898;
  }
  .woocommerce-loop-product__title{
	@include base-text;
	text-align: center;
	color: #333333;
	font-style: normal;
	letter-spacing: normal;
	margin-bottom: 12px;
  }
  .onsale{
	display: none;
	//position: absolute;
	//left: 15px;
	//top: 3px;
	//max-width: 80px;
	//max-height: 100px;
	//picture{
	//  height: auto;
	//  img{
	//	max-width: 100%;
	//	height: auto;
	//  }
	//}
  }
}
.price{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  del{
	padding: 0 5px;
	span{
	  line-height: 1;
	  color: #979898;
	  font-size: size(20) !important;
	  font-weight: 500;
	}
  }
  ins{
	padding: 0 5px;
	text-decoration: none;
	span{
	  line-height: 1;
	  color: #525252;
	  font-size: size(20) !important;
	  font-weight: 500;
	}
  }
}
.add-to-cart-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .btn-wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: stretch;
	button[type="submit"], .single-product-show-link {
	  border-radius: 0 !important;
	  font-size: size(16);
	  flex: 0 0 50%;
	  max-width: 50%;
	  line-height: size(18);
	  color: $blue-main !important;
	  display: flex;
	  position: relative;
	  align-items: center;
	  justify-content: center;
	  min-height: 33px;
	  border: 1px solid $blue-main;
	  background-color: #e4e4e3 !important;
	  width: 100%;
	  transition: background-color, color .5s;
	  &:hover {
		background-color: $blue-main !important;
		color: #ffffff !important;
		transition: background-color, color .5s;
	  }
	}
	img {
	  width: size(15);
	  height: auto;
	  margin: 0 0 0 3px;
	}
  }
}
.qty-wrap{
  overflow: hidden;
  display: flex;
  align-items: center;
  input{
	width: 50px;
	height: auto;
	text-align: center;
	font-size: size(17);
	color: $blue-main;
	font-weight: 700;
	line-height: size(20);
  }
  input, .plus, .minus{
	flex: auto;
	cursor: pointer;
  }
  .plus, .minus{
	@include d-center;
	width: 18px;
	height: 18px;
	font-size: 12px;
	color: $blue-main;
	border: 2px solid $blue-main;
	transition: all .5s;
	&:hover{
	  background-color: $blue-main;
	  color: #fff;
	}
  }
}
.header-btn .count-circle {
  @include d-center;
  position: absolute;
  left: -5px;
  top: -5px;
  width: size(22);
  height: size(22);
  border: 1px solid $blue-main;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  background-color: $blue-main;
  border-radius: 50%;
}



//Mini cart
.mini-cart-wrap{
  position: fixed;
  left: 0;
  top: 0;
  width: 45%;
  z-index: 999999999999;
  height: 100%;
  box-shadow: -4px -3px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transform: translateX(-100%);
  transition: transform .5s;
  &.show-cart{
	transform: translateX(0);
  }
}
.my-bag{
  text-align: center;
  font-size: size(27);
  color: #222222;
}
.cart-header{
  display: flex;
  flex-direction: column;
  max-height: size(48);
  justify-content: center;
  align-items: center;
  background-color: $blue-main;
  button{
	background: transparent;
	border: none;
	img {
	  width: 23px;
	}
  }
}
.user-hello{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
  a, h6{
	color: #222222;
	transition: color .5s;
	font-size: size(20);
	font-weight: 400;
	margin-bottom: 3px;
	&:hover{
	  color: $green-main;
	  transition: color .5s;
	}
  }
}
.woocommerce-mini-cart__empty-message{
  text-align: center;
  font-size: size(40);
}
.woocommerce-mini-cart{
  .woocommerce-mini-cart-item{
	border-top: 3px solid rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	display: flex;
	align-items: flex-start;
	padding: size(20);
  }
  .remove_from_cart_button{
	font-size: size(35);
	color: $green-main;
	position: relative;
	top: -10px;
  }
  .qty-wrap{
	width: 130px;
  }
  .mini__prod-thumb{
	width: 36%;
	height: auto !important;
	box-shadow: 3px 4px 5px 1px rgba(43, 40, 40, 0.2);
	border-radius: 10px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	picture{
	  height: 100%;
	}
	img{
	  height: 90%!important;
	  width: auto!important;
	  display: block;
	}
  }
  .mini__prod-info{
	width: 60%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	.brand{
	  color: #373637;
	  font-size: size(21);
	  font-weight: 500;
	  margin-bottom: 5px;
	  text-align: center;
	  line-height: 1;
	}
	.title{
	  text-align: center;
	  font-size: size(21);
	  font-weight: 300;
	  font-style: normal;
	  padding-bottom: 20px;
	  a{
		color: #000000;
	  }
	  border-bottom: 2px solid #b7b7b7;
	}
  }
  .mini__price{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	del{
	  color: #959595;
	  font-size: size(18);
	  font-weight: 300;
	}
	ins{
	  color: #373637;
	  font-size: size(23);
	  font-weight: 500;
	  font-style: normal;
	  text-decoration: none;
	}
  }
}
.mini-cart-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
  border-top: 1px solid $blue-main;
  padding: size(15) size(5);
  .woocommerce-mini-cart__total{
	display: flex;
	justify-content: space-between;
	color: #373637;
	font-size: size(30);
	font-weight: 700;
	padding: 0 20px;
  }
}
.mini__checkout{
  height: 50px;
  border-radius: 23px;
  background-color: $blue-main;
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  margin-top: 20px;
  width: 250px;
}
.woocommerce-mini-cart.cart_list{
  height: calc(100vh - 377px);
  overflow: auto;
  padding-bottom: 30px;
}
.cart-animation-helper {
  margin: 0 20%;
  width: 0;
  height: 0;
  z-index: 999999999999999;
  position: absolute;
  &:after{
	opacity: 0;
	border-radius: 0;
	max-height: 30px;
	max-width: 30px;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: block;
	height: 30px;
	width: 30px;
	background-color: $blue-main;

	transition:
			transform 0.8s ease-out,
			margin 0.8s ease-out,
			opacity 0.8s ease-out,
			border-radius 0.4s ease-out,
			max-height 0.4s ease-out,
			max-width 0.4s ease-out;
  }
}
.remove_from_cart_x{
  width: 20px;
  height: 20px;
  cursor: pointer;
  svg{
	fill: red;
  }
}
.preloader{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  &.now-loading{
	opacity: 1;
	pointer-events: all;
  }
}
.woocommerce-message::before {
  color: $green-main;
}
.woocommerce-message {
  border-top-color: $green-main;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $green-main;
  color: #fff !important;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin: 0;
  border-top-color: $brown-main;
  &:before {
	color: $brown-main;
  }
}
.return-to-shop {
  margin-top: 2rem;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $green-main;
}
.woocommerce-mini-cart__buttons a{
  @include d-center;
  height: size(32);
  padding: 5px 50px;
  background-color: $brown-main;
  color: #ffffff;
  font-size: size(22);
  line-height: size(24);
  text-align: center;
  transition: background-color .5s;
  &:hover, &:focus {
	color: #ffffff;
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.product-small-card {
  .yith-wcwl-add-button {
	border-radius: 50%;
	@include d-center;
	background-color: #ffffff;
	width: 16px;
	height: 16px;
  }
  .add-to-wishlist-before_image .yith-wcwl-add-to-wishlist .fa-heart-o:before,
  .add-to-wishlist-before_image .yith-wcwl-add-to-wishlist, .yith-wcwl-add-button a {
	color: $green-main;
	font-size: 10px;
  }
}
