/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1920px) {
  .header-top, {
	padding: 0 30px;
  }
  .header-bottom {
	padding: size(27) 30px;
  }
  .foo-main-col {
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
  }
  .footer-main {
	padding: size(55) 100px size(30) 100px;
  }
  .shop-page-wrapper {
	.product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	  height: 190px;
	}
  }
}
@media (max-width: 1920px) {
  .shop-page-wrapper {
	.product-item-col {
	  flex: 0 0 25%;
	  max-width: 25%;
	}
  }
}
@media (max-width: 1600px) {
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .contact-item-link {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .shop-page-wrapper {
	.product-item-col {
	  flex: 0 0 33.3%;
	  max-width: 33.3%;
	}
	.product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	  height: 200px;
	}
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .footer-main {
	padding: size(55) 50px size(30) 50px;
  }
  .product-item-col {
	flex: 0 0 20%;
	max-width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .contact-form-wrap {
	margin: 2rem 0;
  }
  .contact-item-link {
	flex: 0 0 50%;
	max-width: 50%;
  }
  .same-posts-output {
	.post-col {
	  flex: 0 0 25%;
	  max-width: 25%;
	}
  }
  .links-footer-menu {
	order: 6;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .shop-page-wrapper {
	.product-item-col {
	  flex: 0 0 33.3%;
	  max-width: 33.3%;
	}
  }
  .header-offer, .login-link-header, .register-link {
	font-size: size(20);
	line-height: size(22);
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .shop-page-wrapper {
	.product-item-col {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  .woocommerce div.product .product_title {
	display: none;
  }
  .gallery-slider-wrap {
	order: 2;
  }
  .product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	height: 250px;
  }
  .same-posts-output {
	.post-col {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .post-page-img {
	margin-bottom: 2rem;
  }
  .slider-img-col {
	margin-bottom: 1.5rem;
  }
  .banner-img {
	background-image: none;
	clip-path: unset;
	img {
	  display: block;
	  width: 100%;
	}
  }
  .banner-flowers {
	display: none;
  }
  .banner-flowers-small {
	display: block;
  }
  .hidden-title {
	display: block;
	order: -1;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .title-wrap {
	flex-wrap: wrap;
	min-height: unset;
  }
  .archive-image, .archive-name {
	flex: 0 0 100%;
	max-width: 100%;
	clip-path: unset;
  }
  .archive-image {
	height: 350px;
  }
  .archive-name {
	padding: 10% 30px;
  }
  .shop-page-wrapper {
	.product-item-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
	.product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	  height: 280px;
	}
  }
  .product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	height: 150px;
  }
  .header-bottom {
	box-shadow: unset;
	background-color: #fdf9e0;
	padding: 0;
  }
  .header-top {
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.12);
  }
  .d-col-none-m {
	display: none !important;
  }
  .d-col-none-m, .search-form-wrapper {
	display: none !important;
  }
  .woocommerce-mini-cart {
	.woocommerce-mini-cart-item {
	  justify-content: flex-start;
	  align-items: center;
	  flex-direction: column;
	}
  }
  .woocommerce-mini-cart .mini__prod-thumb, .woocommerce-mini-cart .mini__prod-info {
	width: 100%;
  }
}
@media (max-width: 650px) {
  .contact-item-link {
	flex: 0 0 100%;
	max-width: 100%;
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .footer-form  {
	div.wpcf7 input[type="email"] {
	  margin-right: 0;
	  border-radius: size(21) !important;
	}
	div.wpcf7 input[type="submit"] {
	  margin-left: 0;
	}
  }
  .woocommerce .product-body form.cart {
	.buttons-product-wrapper {
	  button[type="submit"] {
		padding: 5px size(30);
		font-size: size(25);
		line-height: size(30);
		img {
		  margin-left: 10px;
		  width: 25px;
		}
	  }
	}
  }
  .shop-page-wrapper {
	.product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	  height: 380px;
	}
  }
  .header-btn img {
	width: 1rem;
  }
  .wpml-ls-legacy-list-horizontal a {
	img {
	  width: 1rem;
	}
  }
  .registers-wrapper {
	img {
	  display: none;
	}
  }
  .login-link-header, .register-link {
	font-size: 15px;
	line-height: 20px;
  }
  .all-header-col {
	padding-right: 3rem;
  }
  .header-btn .count-circle {
	left: -6px;
	top: -6px;
	width: 12px;
	height: 12px;
	font-size: 9px;
	line-height: 9px;
  }
  .mini-cart-wrap {
	width: 65%;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .form-title, .form-subtitle {
	text-align: center;
  }
  .same-posts-output {
	.post-col {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .shop-page-wrapper {
	.product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	  height: 320px;
	}
  }
  .product-slider-wrapper .product-small-card {
	flex: 0 0 100%;
	max-width: 100%;
	margin: 0 0 30px 0;
  }
  .product-slider {
	padding-top: 2rem;
  }
  .product-small-card .top .woocommerce-LoopProduct-link.woocommerce-loop-product__link img {
	height: 270px;
  }
  .banner-flowers-small {
	display: none;
  }
  .all-header-col {
	padding-right: 45px !important;
	padding-left: 7px !important;
  }
  .login-link-header, .register-link {
	font-size: 11px;
	line-height: 12px;
	margin: 0 1px;
  }
  .header-logo-col {
	padding: 0;
  }
}
