@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "forms";
@import "header-footer";
@import "product";

body{
  font-family: 'Grenze', sans-serif;
  direction: ltr;
  text-align: left;
  background-color: #fdf9e0;
}
.wow {
  visibility: hidden;
}
.base-title {
  @include mid-title;
  color: $blue-main;
}
.base-text {
  @include base-text;
}
.base-output {
  @include base-text;
  font-weight: 300;
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: size(20);
	color: $blue-main;
  }
  h1 {
	font-size: size(30);
	line-height: size(32);
  }
  h2 {
	@include mid-title;
  }
  h3 {
	font-size: size(24);
	line-height: size(25);
  }
  h4 {
	font-size: size(23);
	line-height: size(25);
  }
  h5 {
	font-size: size(22);
	line-height: size(24);
  }
  h6 {
	font-size: size(21);
	line-height: size(22);
  }
  p, li {
	@include base-text;
	font-weight: 300;
  }
  li {
	list-style: disc;
  }
  ul {
	margin: 0 1rem;
  }
  a {
	font-weight: 500;
	transition: color .5s;
	&:hover {
	  color: $green-main;
	  transition: color .5s;
	}
  }
}
.review-output {
  h1, h2, h3, h4, h5, h6 {
	color: #000c32;
  }
  p, li {
	color: $gray-main;
	font-size: size(20);
	line-height: size(22);
  }
}
.banner-output {
  h1 {
	font-size: size(40);
	line-height: size(42);
  }
  h2 {
	font-size: size(37);
	line-height: size(35);  }
  h3 {
	font-size: size(34);
	line-height: size(35);
  }
  h4 {
	font-size: size(30);
	line-height: size(32);
  }
  h5 {
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	font-size: size(23);
	line-height: size(25);
  }
  p, li {
	font-size: size(23);
	line-height: size(25);
	color: #3c3c3c;
	font-weight: 400;
  }
  li {
	list-style: disc;
  }
  ul {
	margin: 0 1rem;
  }
  margin-bottom: 20px;
}
.home-slider-title {
  font-size: size(26);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
  margin-bottom: 10px;
  text-align: center;
  color: $blue-main;
}
.benefits-block {
  margin: size(45) 0;
}
.benefit-icon-wrap {
  @include d-center;
  border-radius: 50%;
  width: size(81);
  height: size(81);
  border: 2px solid #7fc22b;
  background-color: #ffffff;
  padding: size(20);
  margin-bottom: 13px;
}
.benefit-title {
  color: $blue-main;
  font-size: size(23);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  margin-bottom: 8px;
}
.benefit-text {
  text-align: center;
  color: $gray-main;
  font-weight: 300;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.benefit-col {
  margin-bottom: 15px;
}
//Home about
.home-about-link {
  @include d-center;
  min-width: size(222);
  height: size(56);
  border-radius: 21px;
  background-color: $brown-main;
  color: #ffffff;
  text-align: center;
  font-size: size(26);
  line-height: size(30);
  padding: 10px 60px;
  transition: background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.home-about-img, .banner-img, .archive-image {
  clip-path: polygon(75px 0, 100% 0, 100% 100%, 0% 100%);
}
.home-about-img {
  width: 100%;
}
.product-slider-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  .product-small-card {
	flex: 0 0 calc(50% - 16px);
	max-width: calc(50% - 16px);
	margin: 8px;
	flex-grow: 1 !important;
	height: auto;
  }
}
.same-posts-output {
  margin: 50px 0;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0;
}
.social-share-link {
  margin: 0 7px;
  img {
	width: size(46);
  }
}
.post-page-img {
  border-radius: 21px;
}
//Reviews
.review-item {
  position: relative;
  height: 100%;
  border-radius: 10px;
  padding: size(55) size(40);
  border: 5px solid $blue-main;
  background-color: #ffffff;
  &:before, &:after {
	content: '';
	display: block;
	width: size(26);
	height: size(26);
	position: absolute;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 99;
  }
  &:before {
	left: 12px;
	top: 14px;
	background-image: url("../iconsall/quote-top.png");
  }
  &:after {
	right: 12px;
	bottom: 14px;
	background-image: url("../iconsall/quote-bottom.png");
  }
}
.reviews-block, .categories-home {
  .slick-prev, .slick-next {
	top: 50%;
	bottom: unset;
  }
  .slick-slider .slick-track, .slick-slider .slick-list {
	display: flex!important;
  }
}
.reviews-block {
  .review-title {
	font-size: size(25);
	line-height: size(30);
	font-weight: 400;
	margin-bottom: 12px;
  }
  .base-title, .review-title {
	color: #000c32;
  }
}
//Homepage categories
.categories-home {
  margin: 90px 0 70px 0;
}
.home-category {
  position: relative;
  @include d-center;
  @include back-img;
  border-radius: 10px;
  background-color: #000000;
  &:after {
	content: '';
	padding-bottom: 97%;
	display: block;
  }
  &:hover {
	.home-cat-overlay {
	  background-image: none;
	  transition: background-image .5s;
	}
  }
}
.slider-item-cat {
  padding: 0 14px;
}
.home-cat-overlay {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 16px;
  @include overlay;
  transition: background-image .5s;
  background-image: linear-gradient(to top, #000000 0%, rgba(191, 191, 189, 0) 100%);
  border-radius: 10px;
}
.home-cat-title {
  color: #ffffff;
  font-size: size(20);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(18);
  text-align: center;
}
//Homepage banner
.banner-block-item {
  position: relative;
  padding: 32px 0;
}
.banner-flowers, .banner-flowers-small {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: 99;
}
.banner-flowers-small {
  display: none;
  //left: -15px;
}
.banner-inside {
  background-color: #ffffff;
  .home-about-link {
	height: size(46);
  }
}
.banner-output-col {
  padding: 100px 15px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.banner-img {
  @include back-img;
}
//Product page
.hidden-title {
  display: none;
}
.product-title, .woocommerce div.product .product_title {
  font-size: size(30);
  line-height: size(32);
  margin-bottom: 18px;
  font-weight: 500;
  color: $blue-main;
}
//Slider gallery product/opt
.big-slider-item, .thumb-item {
  display: flex;
  width: 100%;
  @include back-img;
  border-radius: 21px;
  &:after {
	content: '';
	padding-bottom: 91%;
	display: block;
  }
}
.product-icons-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .base-title {
	font-weight: 400;
	text-align: left;
  }
}
.icons-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  img {
	margin: 9px;
	max-height: size(31);
  }
}
.product-body {
  padding-top: 2rem;
  .price{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 20px 0;
	del{
	  padding: 0 5px;
	  span{
		line-height: 1;
		color: #525252;
		font-size: size(35) !important;
		font-weight: 500;
	  }
	}
	ins{
	  padding: 0 5px;
	  text-decoration: none;
	  color: $blue-main;
	  span{
		line-height: 1;
		color: $blue-main;
		font-size: size(35) !important;
		font-weight: 500;
	  }
	}
  }
  .slick-next, .slick-prev {
	top: 50%;
	bottom: unset;
  }
  .add-to-cart-wrap {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: auto !important;
	.qty-wrap,
	.btn-wrap{
	  width: 50%;
	  height: size(50) !important;
	}
	.btn-wrap{
	  @include d-center;
	  align-items: flex-end;
	  button{
		height: size(50) !important;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		border-radius: 0 !important;
		color: #fff !important;
		font-size: size(18) !important;
		font-weight: 500;
		background-color: $blue-main !important;
		width: 100%;
		border: none;
		margin: 0;
	  }
	}
  }
  .qty-wrap {
	height: size(50);
	overflow: hidden;
	display: flex;
	border: 2px solid #002a46;
	background-color: #ffffff;
	min-width: 153px;
	margin-bottom: 12px;
	input{
	  width: 50px;
	  height: size(50);
	  text-align: center;
	  background-color: transparent;
	  color: $blue-main;
	}
	input, .plus, .minus{
	  flex: auto;
	  cursor: pointer;
	  font-size: size(35);
	}
	.plus, .minus{
	  font-size: size(35);
	  font-weight: 400;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  background-color: #ffffff;
	  border: none;
	  color: $blue-main;
	  transition: all .5s;
	  &:hover{
		background-color: #ffffff;
		color: $text-main;
	  }
	}
  }
  .yith-wcwl-add-to-wishlist {
	margin-top: 0;
  }
  .add-to-cart-single-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
  }
  form.cart {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
  }
}
.add-to-cart-wrap {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
	-moz-appearance:textfield; /* Firefox */
  }
}
.growing-title-wrap {
  min-height: size(87);
  padding: 25px;
  @include d-center;
  box-shadow: 0 0 5px 1px rgba(82, 81, 81, 0.2);
  background-color: #7fc22b;
}
.growing-content-wrap {
  padding: 30px;
  box-shadow: 0 0 5px 1px rgba(82, 81, 81, 0.2);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #ffffff;
  margin-bottom: size(60);
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: unset;
  width: auto;
}
.woocommerce .product-body form.cart {
  .buttons-product-wrapper {
	button[type="submit"] {
	  @include d-center;
	  min-height: 2.2727272727rem;
	  background-color: $blue-main;
	  border-radius: 0;
	  padding: 5px size(70);
	  font-size: size(35);
	  line-height: size(40);
	  transition: background-color .5s;
	  img {
		width: size(36);
		margin-left: 18px;
	  }
	  &:hover {
		background-color: $brown-main;
		transition: background-color .5s;
	  }
	}
  }
}
.yith-wcwl-add-button span {
  display: none;
}
.product-body .yith-wcwl-add-to-wishlist a {
  width: 57px;
  min-height: 2.2727272727rem;
  background-color: $green-main;
  display: flex !important;
  padding: 0;
  align-items: center;
  justify-content: center;
  i {
	color: #ffffff !important;
	margin: 0 !important;
  }
}
//Contact
.contact-item-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}
.contact-icon-wrap {
  @include d-center;
  width: size(81);
  min-width: size(81);
  height: size(81);
  border-radius: 10px;
  padding: 15px;
  border: 2px solid $green-main;
  background-color: #ffffff;
  margin-right: 23px;
}
.contact-item-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-title-item, .contact-info {
  font-size: size(30);
  line-height: size(32);
}
.contact-title-item {
  color: $blue-main;
  margin-bottom: 20px;
  font-weight: 500;
}
.contact-info {
   color: $text-main;
  font-weight: 300;
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.contact-form-wrap {
  background-color: $green-main;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.wpcf7 input[type="submit"] {
	white-space: normal;
	line-height: 1rem;
  }
}
.contact-form-title, .contact-form-subtitle {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
.contact-form-title {
  font-size: size(45);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
}
.contact-form-subtitle {
  font-size: size(30);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(34);
}
.contact-map-wrap {
  img {
	border-radius: 10px;
	width: 100%;
  }
}
//Shop
.header-sidebar {
  min-height: size(46);
  border-radius: 10px 10px 0 0;
  background-color: #e4e4e3;
  padding: 10px 30px;
  .base-title {
	margin-bottom: 0;
	font-size: size(30);
	line-height: size(32);
	text-align: left;
  }
}
.sidebar-box .box-list {
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  padding: 25px 30px;
  li {
	margin-bottom: 15px;
	a {
	  color: $blue-main;
	  font-size: size(30);
	  line-height: size(32);
	  font-weight: 500;
	  font-style: normal;
	  letter-spacing: normal;
	  transition: color .5s;
	  &:hover {
		color: $green-main;
		transition: color .5s;
	  }
	}
  }
}
//Shop
.title-wrap {
  min-height: size(256);
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.base-page-title {
  color: $blue-main;
  font-size: size(55);
  line-height: size(60);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
}
.archive-image {
  @include back-img;
  flex: 0 0 65%;
  max-width: 65%;
}
.archive-name {
  flex: 0 0 35%;
  max-width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 33px;
}
.main-slide-item {
  display: flex;
  width: 100%;
  @include back-img;
  height: 621px;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 60px;
}
.main-slider {
  display: flex;
  justify-content: center;
  &.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
  }
  ul.slick-dots {
	position: absolute;
	bottom: 26px;
	width: unset;
	display: flex;
	li {
	  button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15px;
		height: 15px;
		border-radius: 0;
		background-color: #ffffff;
		border: none;
		opacity: 1 !important;
		&:before {
		  top: unset;
		  left: unset;
		  color:#ffffff;
		  opacity: 0 !important;
		  font-size: 0.4rem;
		}
	  }
	}
  }
  ul.slick-dots li.slick-active button {
	background-color: $blue-main;
  }
}
.main-video-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  video {
	width: 100%;
  }
}
.woocommerce nav.woocommerce-pagination {
  display: none;
}
.wpml-ls-native, .wpml-ls-display {
  display: none;
}
.wpml-ls-legacy-list-horizontal a {
  padding: 0 !important;
  img {
	width: 2rem;
	height: auto;
  }
}
.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
  margin-bottom: 0 !important;
}
.content-part-slider {
  display: flex;
  align-items: center;
  clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 0% 100%);
  background-color: $blue-main;
  padding: 17px 3rem 17px 29px;
  flex-wrap: wrap;
  .home-about-link {
	margin: 0 1rem;
  }
}
.main-slider-text {
  position: relative;
  padding-left: 20px;
  &:before {
	content: '';
	display: block;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	width: 7px;
	height: 100%;
  }
  * {
	color: #ffffff;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 10px;
	text-align: left;
  }
  h1, h2 {
	font-size: size(45);
	line-height: size(50);
  }
  h3 {
	font-size: size(40);
	line-height: size(44);
  }
  h4 {
	font-size: size(36);
	line-height: size(40);
  }
  h5 {
	font-size: size(32);
	line-height: size(34);
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  p, li {
	font-size: size(28);
	line-height: size(30);
	font-weight: 400;
  }
}
.main-slide-item {
  .home-about-link {
	background-color: $green-main;
	border: 2px solid #ffffff;
	color: #ffffff;
	&:hover {
	  background-color: $brown-main;
	}
  }
}
.page-body {
  .base-output input {
	color: $gray-main;
  }
  .base-output .quantity input {
	color: #fff;
  }
  .checkout {
	.form-row {
	  flex-direction: column;
	}
  }
  .check-col {
	.woocommerce-input-wrapper {
	  flex-grow: 1;
	}
  }
  .woocommerce-input-wrapper {
	input, select, textarea, .select2-container, .select2-container .select2-selection--single {
	  height: size(54);
	  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
	  background-color: #ffffff;
	}
  }
  .select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
	height: 100%;
	display: flex;
	align-items: center;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
  }
  ul.woocommerce-error {
	margin: 1rem 0;
	padding: 1rem;
  }
}

@import "responsive";
